.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #484848;
}

.input {
  font-family: 'Rubik';
  width: 100%;
  height: 48px;
  margin-top: 8px;
  border: 1px solid #555555;
  border-radius: 5px;
}
