.buttonContainer {
  all: unset;
  cursor: pointer;
  background: #645ffb;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  width: 236px;
  height: 42px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  margin-top: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
