.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
}

.title {
  margin-bottom: 52px;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.container > button {
  all: unset;
  cursor: pointer;
  background: #645ffb;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  width: 236px;
  height: 42px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  margin-top: 45px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.redirectButton {
  color: #645ffb;
  font-size: 14px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  align-self: center;
  margin-top: 35px;
}
